.with-sidebar
  position: relative
  .side-contents
    padding: 20px
    padding-left: 270px
    background: rgba(242, 242, 242, 0.4)
    min-height: 100vh
    display: block
    position: relative
    box-sizing: border-box