.borrowers-list-wrapper
  .borrower-info
    background: #fff
    border: 1px solid #eaeaea
    margin-bottom: 20px
    padding: 20px
    border-radius: 4px
    &:last-child
      margin-bottom: 0
    .borrower-name
      font-weight: normal
      margin-bottom: 5px
    section
      margin: 10px 0
      .row
        margin-bottom: 10px
        &:last-child
          margin-bottom: 0
    ul
      +clearFloat
      li
        list-style: none
        float: left
        margin-right: 5px
        &:last-child
          margin-right: 0
    .buttons
      margin-bottom: 0
    section
      h1
        color: gray
        font-weight: normal
        font-size: 14px
        letter-spacing: 5px
        margin-bottom: 5px
      ul li
        list-style: none
        margin-bottom: 5px