.new-loan-wrapper
  ul
    +fitWidth
    margin: 0 auto
    li
      list-style: none
      margin-bottom: 10px
      &:last-child
        margin-bottom: 0
      h1
        letter-spacing: 5px
        color: #33cccc
        font-size: 18px